<!DOCTYPE html>
<html>
  <head>
    <title>Farmnotes App</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'farmnotes/style.css' %}"
    />
  </head>

  <body>
    <div>
      <h1>{{observation.field.field_name}}</h1>
      <h2>Observation: {{observation.observation_title}}</h2>
      <ul style="list-style-type: none">
        <li>{{observation.observation_content}}</li>
        <li>{{observation.author}}</li>
        <li>{{observation.observation_date}}</li>
        <li>{{observation.observation_type}}</li>
      </ul>
    </div>
  </body>
</html>
