<!DOCTYPE html>
<html>
  <head>
    <title>Farmnotes App</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'farmnotes/style.css' %}"
    />
  </head>

  <body>
    <h1>My Farm Fields</h1>
    {% if latest_fields %}
    <ul>
      {% for field in latest_fields %}
      <li><a href="/farmnotes/{{ field.id }}/">{{ field.field_name }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No fields are available.</p>
    {% endif %}
  </body>
</html>
