<!DOCTYPE html>
<html>
<head>
    <title>Farmnotes App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'farmnotes/style.css' %}">
</head>

<body>
    <header>Farmnotes</header>
    <div>
        <h1>{{ field_id.field_name }}</h1>
        <h2>Observations:</h2>
        <ul>
        {% for observation in field.observation_set.all %}
            <li><a href="/farmnotes/{{ field.id }}/{{ observation.id }}/">{{ observation.observation_title }}</a></li>    
        {% endfor %}
    </ul>
    </div>
</body>
</html>